.loading {
  font-size: 40px;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.forecast-header {
  text-align: center;
  font-weight: 100;
  font-size: 50pt;
  color: black;
}

.forecast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: center;
}

.forecast-container a {
  text-decoration: none;
  color: black;
}
