.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 20px 20px 20px;
}

.day-container img {
  height: 150px;
  width: 150px;
}

.subheader {
  font-size: 25pt;
  font-weight: 100;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px;
  font-weight: 200;
}

.details p {
  margin: 10px;
}
