.home-container {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.home-container h1 {
  font-size: 3rem;
  font-weight: 200;
  color: black;
}

.home-search {
  width: 50%;
}

@media (max-width: 899px) {
  .home-search {
    width: 100%;
  }
}
