*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app {
  width: 100%;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  margin: 0;
  background-color: lightblue;
  color: aliceblue;
}

.footer h3 {
  margin: 15px;
  font-size: 1.5rem;
  font-weight: 200;
}
