.navbar {
  background-color: lightblue;
}

.navbar a {
  text-decoration: none;
}

@media (min-width: 900px) {
  .navbar {
    display: flex;
    flex-direction: row;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
  }

  .navbar h1 {
    font-weight: 300;
    font-size: 2em;
  }
}

@media (max-width: 899px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar h1 {
    font-weight: 300;
    font-size: 2em;
  }
}

.logo {
  color: black;
  padding: 20px;
}

.toprow {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
}

.toprow button {
  background-color: transparent;
  border: none;
  margin: 0 20px 0 20px;
}
